.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#main-page {
  max-width: 2000px;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.container {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  padding-left: 16px;
  padding-right: 16px;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.full-mob-width {
  width: 100vw;
  margin-left: calc(50% - 50vw);
}

@media (min-width: 768px) {
  .full-mob-width {
    width: 100%;
    margin: 0 auto;
  }
}

a.no-style,
a.no-style:hover {
  color: inherit;
}

a.underline:hover {
  text-decoration: underline;
}

h2.ant-typography,
h3.ant-typography {
  font-family: "League Spartan", sans-serif;
  text-align: center;
}


h2.ant-typography {
  font-weight: 700;
  text-transform: uppercase;
}

h3.ant-typography {
  font-weight: 600;
  font-size: 36px;
}

div.ant-typography {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

#nav-block .ant-col:not(:last-child) {
  border-left-width: 1px;
}

#statistics .ant-card {
  height: 170px;
}

.ant-card-body {
  height: 100%;
}

.ant-card-body .ant-statistic {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ant-image:has(.dark-overlay) {
  position: relative;
}

.ant-image:has(.dark-overlay)::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: black;
  opacity: 0.5;
}

.ant-image:has(.dark-overlay.darker-overlay)::after {
  opacity: 0.6;
}

.ant-carousel .slick-arrow.slick-prev {
  inset-inline-start: 20px;
}
.ant-carousel .slick-arrow.slick-next {
  inset-inline-end: 20px;
}

.ant-carousel:has(.dark-overlay) .slick-arrow {
  opacity: 1 !important;
}

.ant-carousel:has(.dark-overlay) .slick-arrow::after {
  color: var(--ant-color-bg-container);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
